.display-5{

  font-size: 160%;
}

.display-3{

  font-size: 230%;
}
.myCard {
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.329);
  /* box-shadow:0px 0px 6px 1.5px rgba(135, 206, 250, 0.637); */
}

.card-header{
  border-top-left-radius:12px !important;
  border-top-right-radius:12px !important;
}

hr{
  display: block;
  min-height: 2px;
  /* box-shadow:0px 0px 9px 4.5px rgb(135, 206, 250); */
}
